<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CityMapper">

    <select id="selectAllCity" resultType="com.pojo.City">
        select * from city
    </select>
    <select id="listCitiesByFather" resultType="com.pojo.City">
  select * from city where father = #{code}
    </select>
</mapper>